<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Time tracker</title>
    </head>
    <body>
        <div class="global-layout">
            <!-- Header -->
            <header class="toolbar" role="banner">
                <span>Time tracker</span>
            </header>
            <!-- Main content -->
            <main role="main" class="container">
                <div id="firebaseui-auth-container">
                    <button id="loginBtn" type="button" class="btn btn-primary">
                        Login with Google
                    </button>
                </div>
                <div id="loader" style="display: none;">Loading...</div>

                <div id="activities-content" style="display: none;">
                    <h2>Add an event</h2>
                    <p>Add new event to existing list</p>

                    <div class="activities-container row">
                        <div class="col-12 col-md-4">
                            <div class="row">
                                <div
                                    id="addEventCard"
                                    class="col-12 card elevation"
                                >
                                    <div class="form-group">
                                        <label for="dateInput">Date</label>
                                        <input
                                            type="date"
                                            class="form-control"
                                            id="dateInput"
                                            placeholder="Pick a date"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="activityInput"
                                            >Activity</label
                                        >
                                        <select
                                            class="form-control"
                                            id="activityInput"
                                        >
                                            <option></option>
                                            <option>Dev</option>
                                            <option>Bug</option>
                                            <option>Testing</option>
                                            <option>Pto</option>
                                            <option>Rtt</option>
                                            <option>Ferié</option>
                                            <option>Others</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="timeInput"
                                            >Time (hours)</label
                                        >
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="timeInput"
                                            placeholder="Enter time"
                                        />
                                    </div>

                                    <div class="card-actions">
                                        <button
                                            type="button"
                                            id="addEventBtn"
                                            class="btn btn-secondary"
                                        >
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div id="errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <table class="table table-dark elevation">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Activity</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody id="eventsList"></tbody>
                            </table>
                            <div>
                                <button
                                    id="syncToDbBtn"
                                    class="btn btn-secondary"
                                >
                                    Sync with db
                                </button>
                                <button
                                    id="getEventsBtn"
                                    class="btn btn-secondary"
                                >
                                    Get events
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Spacer to push footer always bottom -->
            <div class="spacer"></div>
            <!-- Footer -->
            <footer>
                Footer content
            </footer>
        </div>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-database.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
          https://firebase.google.com/docs/web/setup#available-libraries -->
        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: 'AIzaSyDnbOK-p4voeDwgI6ftbsW_Ukvb6seG0_k',
                authDomain: 'timetracker-b6ee2.firebaseapp.com',
                databaseURL: 'https://timetracker-b6ee2.firebaseio.com',
                projectId: 'timetracker-b6ee2',
                storageBucket: 'timetracker-b6ee2.appspot.com',
                messagingSenderId: '365520929994',
                appId: '1:365520929994:web:c0265e5e569bcd0d39e033'
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
        </script>
    </body>
</html>
